@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

:root {
  --red: #d35d5d;
}

/* body {
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 800px;
  margin: 0 auto;
} */
